<router-outlet></router-outlet>

<div>
  <input [formControl]="inputControl" />
  <section *ngIf="messages$ | async as messages">
    <ul>
      <li *ngFor="let message of messages">{{ message.content }}</li>
    </ul>
  </section>
</div>

<section *ngIf="theme$ | async as theme">
  <label for="themes">Choose a theme:</label>

  <select [formControl]="themeControl" name="themes" id="themes">
    <option *ngFor="let theme of themeOptions" [value]="theme.value">{{theme.label}}</option>
  </select>

  <p>You are choosing theme: {{ theme }}</p>
</section>
